header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  gap: 70px;
}
header .menu {
  flex: 1;
}
header .menu .topp-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b5b4b4;
  padding-bottom: 5px;
}
header .menu .topp-menu .contact-information {
  display: flex;
  align-items: center;
}
header .menu .topp-menu .contact-information .content-box {
  margin-right: 20px;
  font-size: 15px;
  font-weight: 300;
  padding-right: 20px;
  border-right: 1px solid #b5b4b4;
}
header .menu .topp-menu .contact-information .content-box.last {
  border: none;
}
header .menu .topp-menu .contact-information .content-box i {
  margin-right: 4px;
  color: #4e4e4e;
}
header .menu .topp-menu .social-media a {
  margin-left: 10px;
  font-size: 1.2rem;
  color: #191919;
}
header .menu .topp-menu .social-media a:hover {
  color: #676565;
}
header .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .menu .main-menu .btn-yellow {
  padding-right: 25px;
  padding-left: 25px;
}
header .menu .main-menu nav a {
  color: #191919;
  text-decoration: none;
  margin-right: 25px;
}
header .menu .main-menu nav a.active {
  text-decoration: underline;
  font-weight: 600;
}
header .menu .main-menu nav a:hover {
  color: #676565;
}

.btn-yellow {
  background-color: #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 25px;
  transition: background-color 0.3s;
}
.btn-yellow i {
  margin-left: 10px;
  font-size: 14px;
}
.btn-yellow:hover {
  background-color: #c9ae6b;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid black;
  color: #191919;
  text-decoration: none;
  padding: 8px 20px;
  font-weight: 500;
  border-radius: 25px;
  transition: background-color 0.3s;
}
.btn-transparent i {
  margin-left: 10px;
  font-size: 14px;
}
.btn-transparent:hover {
  background-color: #c8c6be;
}

.btn-black {
  background-color: #191919;
  color: #f8f8f8;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 25px;
  transition: background-color 0.2s;
}
.btn-black i {
  margin-left: 10px;
  font-size: 14px;
}
.btn-black:hover {
  background-color: #6d6c6c;
}

.btn-round {
  color: #191919;
  border: 1px solid #191919;
  padding: 15px 20px;
  border-radius: 50%;
  transition: background-color 0.3s;
}
.btn-round:hover {
  background-color: #c8c6be;
}