.contactboxes {

    .container {

       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       justify-content: center;
       align-items: center;
       margin-top:120px;
       margin-bottom: 120px;
       gap: 40px;

        img {
            width: 5em;
            height: 5em;
        }

        h3 {
            font-size: 22px;
            font-weight: 700;
        }

        .text {
            padding-left: 20px;
        }

        .VisitUs {

            display: flex;
            justify-content: center;
            align-items: center;

            height: 200px;
            width: 370px;
            border: 1px solid black;
           
        }

        .CallUs {

            display: flex;
            justify-content: center;
            align-items: center;

            height: 200px;
            width: 370px;
            border: 1px solid black;

        }

        .EmailUs {

            display: flex;
            justify-content: center;
            align-items: center;

            height: 200px;
            width: 370px;
            border: 1px solid black;

        }
    }
}