.meetourteam {

    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F9D783;

    .container {

        .heading {

            display: flex;
            justify-content: space-between;

            .text {

                p {
                    color:#f94d1c;
                }
    
                h2 {
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 45px;
                }

            }
         
            .button {

                padding-top: 50px;
                

                a {

                    padding: 15px 25px 15px 25px;

                    &:hover {
                        background-color: #c9ae6b;
                    }

                }
            }
        }

        .content {

            padding-top: 80px;
            
            .images {
    
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                padding-bottom: 30px;
                gap: 20px;
    
                img {
                    max-width: 100%;
                }
            }
    
            .text {
    
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                text-align: center;
                
    
                h3 {
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                }
            }
        }

        #dots {
            text-align: center;
            padding-top: 50px;
        }
    }
}