.sponsoring {

    .container {

        padding-top: 80px;
        padding-bottom: 80px;

        .images {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}